@using Microsoft.AspNetCore.Identity

@{
    var actionName = ViewContext.RouteData.Values["action"] as string;
    var controllerName = ViewContext.RouteData.Values["controller"] as string;

    string GetActiveClass(string currentAction, string currentController) =>
         actionName == currentAction && controllerName == currentController ? "active fw-bold" : "";

    string GetActiveControllerClass(string currentController) =>
        controllerName == currentController ? "active fw-bold" : "";

    string GetActiveControllerClassDropdown(string[] controllers) =>
        controllers.Contains(controllerName) ? "active fw-bold show" : "";
}
<section id="_navbot">
    <nav class="navbar navbar-expand-lg p-3">
        <div class="container">
            <div class="navbar-brand">
                <a asp-action="index" asp-controller="home" asp-area="">
                    <img src="~/assets/images/logo-brand.png"
                         class="me-2"
                         height="130"
                         alt="Kanel Travels Brand Logo"
                         loading="lazy" />
                </a>
            </div>
            <button data-mdb-collapse-init
                    class="navbar-toggler btn btn-outline-vjppro"
                    type="button"
                    data-mdb-target="#headNavbar"
                    aria-controls="headNavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    onclick="toggleIcon()">
                <i class="fas fa-align-justify" id="toggleIcon"></i>
            </button>

            <div class=" collapse navbar-collapse" id="headNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link mx-2 @GetActiveClass("Index", "Home")" asp-action="index" asp-controller="home" asp-area="">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 @GetActiveClass("Introduction", "Home")" asp-action="introduction" asp-controller="home" asp-area="">
                            Introduction
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link mx-2 dropdown-toggle @GetActiveControllerClassDropdown(new[] { "Tourist", "Travel", "Hotel", "Restaurant", "Resort" })"
                           href="#" role="button"
                           id="serveice"
                           data-mdb-dropdown-init
                           aria-expanded="false">
                            Karnel Travels Service
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="serveice">
                            <li>
                                <a class="dropdown-item @GetActiveControllerClass("Tourist")" asp-controller="touristspot" asp-action="index" asp-area="">
                                    Tourist Spots
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item @GetActiveControllerClass("Travel")" asp-controller="travel" asp-action="index" asp-area="">
                                    Travel Information
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item @GetActiveControllerClass("Hotel")" asp-controller="hotel" asp-action="index" asp-area="">
                                    Hotel Information
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item @GetActiveControllerClass("Restaurant")" asp-controller="restaurant" asp-action="index" asp-area="">
                                    Restaurant Information
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item @GetActiveControllerClass("Resort")" asp-controller="resort" asp-action="index" asp-area="">
                                    Resort Information
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="#">
                            Contact Us
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link mx-2 dropdown-toggle"
                           href="#" role="button"
                           id="clone"
                           data-mdb-dropdown-init
                           aria-expanded="false">
                            Account
                        </a>
                        <partial name="Sections/Header/_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>