@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Home";
}
@section Banner{
<div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="bg-image" style="background-image: url('@Url.Content("~/assets/images/slide/home-page-slide.jpg")');
            height: 50vh;">
                <div class="d-flex align-items-center h-100">
                    <div class="text-white">
                        <h2 class="p-2 bg-teal fw-bold">Welcome To</h2>
                        <h1 class="p-2 bg-teal">KarnelTravels</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="bg-image" style="background-image: url('@Url.Content("~/assets/images/slide/home-page-slide.jpg")');
            height: 50vh;">
                <div class="d-flex  align-items-center h-100">
                    <div class="text-white">
                        <h3 class="p-2 bg-teal fw-bold">Discover Amazing Destinations</h3>
                        <h4 class="p-2 bg-teal">Embark on a journey to explore breathtaking places and create unforgettable memories.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    }
<section id="wrapper">
    <div class="card mt-3 mb-4 p-5">
        <ul class="nav nav-tabs nav-justified mb-3" id="menu" role="tablist">
            <li class="nav-item" role="presentation">
                <a data-mdb-tab-init class="nav-link fw-bold active" id="menu-tab-1" href="#menu-tabs-1" role="tab"
                   aria-controls="menu-tabs-1" aria-selected="true"><i class="fas fa-bed fa-fw me-2"></i>Hotels</a>
            </li>
            <li class="nav-item" role="presentation">
                <a data-mdb-tab-init class="nav-link fw-bold" id="menu-tab-2" href="#menu-tabs-2" role="tab"
                   aria-controls="menu-tabs-2" aria-selected="false"><i class="fas fa-utensils fa-fw me-2"></i>Restaurants</a>
            </li>
            <li class="nav-item" role="presentation">
                <a data-mdb-tab-init class="nav-link fw-bold" id="menu-tab-3" href="#menu-tabs-3" role="tab"
                   aria-controls="menu-tabs-3" aria-selected="false"><i class="fas fa-tree fa-fw me-2"></i>Resorts</a>
            </li>
            <li class="nav-item" role="presentation">
                <a data-mdb-tab-init class="nav-link fw-bold" id="menu-tab-4" href="#menu-tabs-4" role="tab"
                   aria-controls="menu-tabs-4" aria-selected="false"><i class="fas fa-compass fa-fw me-2"></i>TouristSpot</a>
            </li>
            <li class="nav-item" role="presentation">
                <a data-mdb-tab-init class="nav-link fw-bold" id="menu-tab-5" href="#menu-tabs-5" role="tab"
                   aria-controls="menu-tabs-5" aria-selected="false"><i class="fas fa-book fa-fw me-2"></i>Travels</a>
            </li>
        </ul>
        <div class="tab-content" id="menu-content">
            <div class="tab-pane fade show active" id="menu-tabs-1" role="tabpanel" aria-labelledby="menu-tab-1">
                <div class="mb-3">
                    <label class="form-label fw-bold">Hotel Location:</label>
                    <form asp-action="index" asp-controller="hotel">
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <input name="search" type="search" class="form-control" placeholder="Enter a location">
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 text-center">
                                    <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">
                                        Search
                                        <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="menu-tabs-2" role="tabpanel" aria-labelledby="menu-tab-2">
                <div class="mb-3">
                    <label class="form-label fw-bold">Restaurant Location:</label>
                    <form asp-action="index" asp-controller="restaurant">
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <input name="search" type="search" class="form-control" placeholder="Enter a location">
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 text-center">
                                    <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">
                                        Search
                                        <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="menu-tabs-3" role="tabpanel" aria-labelledby="menu-tab-3">
                <div class="mb-3">
                    <label class="form-label fw-bold">Resort Location:</label>
                    <form asp-action="index" asp-controller="resort">
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <input name="search" type="search" class="form-control" placeholder="Enter a location">
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 text-center">
                                    <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">
                                        Search
                                        <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="menu-tabs-4" role="tabpanel" aria-labelledby="menu-tab-4">
                <div class="mb-3">
                    <label class="form-label fw-bold">Tourist Location:</label>
                    <form asp-action="index" asp-controller="touristspot">
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <input name="search" type="search" class="form-control" placeholder="Enter a location">
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 text-center">
                                    <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">
                                        Search
                                        <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="menu-tabs-5" role="tabpanel" aria-labelledby="menu-tab-5">
                <div class="mb-3">
                    <label class="form-label fw-bold">Travel Location:</label>
                    <form asp-action="index" asp-controller="travel">
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <input name="search" type="search" class="form-control" placeholder="Enter a location">
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 text-center">
                                    <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">
                                        Search
                                        <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="why-us" class="mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading fw-bold mb-4">WHY CHOOSE US</h2>
                <p class="text-muted">
                    At Karnel Travels, we take pride in being your premier choice for travel and tourism.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="icon-box text-center">
                    <i class="fas fa-globe fa-2x"></i>
                    <h3>Extensive Network</h3>
                    <p class="text-muted">
                        Our extensive network ensures that you have access to a wide range of destinations, from popular tourist spots to hidden gems.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box text-center">
                    <i class="fas fa-suitcase fa-2x"></i>
                    <h3>Complete Travel Solutions</h3>
                    <p class="text-muted">
                        We offer complete travel solutions, including transportation, accommodation, and packages, making your journey hassle-free and memorable.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box text-center">
                    <i class="fas fa-heart fa-2x"></i>
                    <h3>Customer-Centric Approach</h3>
                    <p class="text-muted">
                        Our customer-centric approach ensures that your needs and preferences are our top priority, providing you with a personalized and delightful experience.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <h3 class="text-center fw-bold">
        Featured properties recommended for you
    </h3>
    <div class="row mt-5 me-3 ms-3">
        @foreach (var i in Model)
        {
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <img src="@i.Hotel.Image" class="card-img-top" alt="@i.Hotel.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@i.Hotel.Name</h5>
                        <p class="text-muted">@i.Hotel.Location</p>
                        <div class="d-flex justify-content-start align-items-center mb-2">
                            @{
                                int ratingValue = i.NumRatings > 0 ? i.TotalRatingValue / i.NumRatings : 0;
                            }
                            <div class="ratings">
                                @for (var j = 0; j < 5; j++)
                                {
                                    <i class="fa fa-star @(j < ratingValue ? "rating-color" : "")"></i>
                                }
                            </div>
                            <h5 class="review-count">@i.NumRatings Reviews</h5>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-start align-items-center">
                                <p class="card-text fw-bold text-danger">
                                    VND @string.Format("{0,15:N0}", i.Hotel.Price)
                                </p>
                            </div>
                            <div class="d-flex justify-content-start align-items-center">
                                <a asp-controller="hotel" asp-action="detail" asp-route-id="@i.Hotel.ID" class="text-primary">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
