@model WebApp.Data.ApplicationUser
@{
    ViewData["Title"] = "Profile";
}

<section class="w-100 d-flex justify-content-center pb-4 mt-5 mb-5">
    <div class="card p-4">
        <div class="col">
            <div class="text-center mb-4">
                <h4 class="fw-bold">User details</h4>
            </div>
            <hr class="hr hr-blurry" />
            <div class="row justify-content-start mb-3">
                <div class="col-3 fw-bold">
                    Name
                </div>
                <div class="col-7">
                    @(Model.FirstName + " " + Model.LastName)
                </div>
                <div class="col-2">
                    <a href="#ChangeName" data-mdb-modal-init data-mdb-target="#ChangeName">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row justify-content-start mb-3">
                <div class="col-3 fw-bold">
                    Address
                </div>
                <div class="col-7">
                    @Model.Address
                </div>
            </div>
            <div class="row justify-content-start mb-3">
                <div class="col-3 fw-bold">
                    Email
                </div>
                <div class="col-7">
                    @Model.Email
                </div>
                <div class="col-2">
                    <a href="#ChangeEmail" data-mdb-modal-init data-mdb-target="#ChangeEmail">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row justify-content-start mb-3">
                <div class="col-3 fw-bold">
                    Phone
                </div>
                <div class="col-7">
                    @Model.PhoneNumber
                </div>
                <div class="col-2">
                    <a href="#ChangePhoneNumber" data-mdb-modal-init data-mdb-target="#ChangePhoneNumber">
                        Edit
                    </a>
                </div>
            </div>
            <div class="row justify-content-start mb-3">
                <div class="col-3 fw-bold">
                    Username
                </div>
                <div class="col-7">
                    @Model.UserName
                </div>
            </div>
            <hr class="hr hr-blurry" />
            <div class="text-center">
                <a href="#ChangePassword" data-mdb-modal-init data-mdb-target="#ChangePassword">
                    Change password?
                </a>
            </div>
        </div>
    </div>
</section>
<partial name="Sections/_Modal" />
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @functions {
        void ShowSweetAlert(string icon, string title, string text, int timer = 5500)
        {
            <script>
                Swal.fire({
                    icon: "@icon",
                    title: "@title",
                    text: "@text",
                    showConfirmButton: false,
                    timer: @timer,
                });
            </script>
        }
    }
    @if (TempData["ChangePasswordSuccess"] != null)
    {
        ShowSweetAlert("success", "Change password successfully", " ");
    }
    @if (TempData["confirmPasswordNotMatch"] != null)
    {
        ShowSweetAlert("error", "New password and confirm password do not match.", " ");
    }
    @if (TempData["CannotChangePassword"] != null)
    {
        ShowSweetAlert("error", "Invalid Old Password", " ");
    }
    @if (TempData["oldPasswordEqualsnewPassword"] != null)
    {
        ShowSweetAlert("error", "The new password must not be the same as the old password", " ");
    }
    @if (TempData["CannotChangePhoneNumber"] != null)
    {
        ShowSweetAlert("error", "The new phone number is invalid.", " ");
    }
    @if (TempData["ChangePhoneNumberSuccess"] != null)
    {
        ShowSweetAlert("success", "Change Phone Number successfully", " ");
    }
    @if (TempData["CannotChangeChangeEmail"] != null)
    {
        ShowSweetAlert("error", "An error occurred, please enter again.", " ");
    }
    @if (TempData["ChangeChangeEmailSuccess"] != null)
    {
        ShowSweetAlert("success", "Change Email successfully", " ");
    }
    @if (TempData["CannotChangeName"] != null)
    {
        ShowSweetAlert("error", "An error occurred, please enter again.", " ");
    }
    @if (TempData["ChangeNameSuccess"] != null)
    {
        ShowSweetAlert("success", "Change Name & Address successfully", " ");
    }
    <script>
        document.getElementById('NewPhoneNumber').addEventListener('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });

        document.getElementById('FirstName').addEventListener('input', function () {
            this.value = this.value.replace(/[^a-zA-Z]/g, '');
        });

        document.getElementById('LastName').addEventListener('input', function () {
            this.value = this.value.replace(/[^a-zA-Z]/g, '');
        });

    </script>
}
