@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Resort";
}

<section id="wrapper">
    <div class="card mt-3 mb-4 p-5">
        <ul class="nav nav-tabs nav-justified mb-3" id="menu" role="tablist">
            <li class="nav-item" role="presentation">
                <a data-mdb-tab-init class="nav-link fw-bold" id="menu-tab-1" href="#menu-tabs-1" role="tab"
                   aria-controls="menu-tabs-3" aria-selected="false"><i class="fas fa-tree fa-fw me-2"></i>Resorts</a>
            </li>
        </ul>
        <div class="tab-content" id="menu-content">
            <div class="tab-pane fade show active" id="menu-tabs-1" role="tabpanel" aria-labelledby="menu-tab-1">
                <div class="mb-3">
                    <label class="form-label fw-bold">Resort Location:</label>
                    <form asp-action="index" asp-controller="resort">
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <input name="search" type="search" class="form-control" placeholder="Enter a location">
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 text-center">
                                    <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">
                                        Search
                                        <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <h3 class="text-center fw-bold">
        Featured properties recommended for you
    </h3>
    <div class="row mt-5 me-3 ms-3">
        @foreach (var i in Model)
        {
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <img src="@i.Resort.Image" class="card-img-top" alt="@i.Resort.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@i.Resort.Name</h5>
                        <p class="text-muted">@i.Resort.Location</p>
                        <div class="d-flex justify-content-start align-items-center mb-2">

                            @{
                                int ratingValue = i.NumRatings > 0 ? i.TotalRatingValue / i.NumRatings : 0;
                            }
                            <div class="ratings">
                                @for (var j = 0; j < 5; j++)
                                {
                                    <i class="fa fa-star @(j < ratingValue ? "rating-color" : "")"></i>
                                }
                            </div>
                            <h5 class="review-count">@i.NumRatings Reviews</h5>

                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-start align-items-center">
                                <p class="card-text fw-bold text-danger">
                                    VND @string.Format("{0,15:N0}", i.Resort.Price)
                                </p>
                            </div>
                            <div class="d-flex justify-content-start align-items-center">
                                <a asp-controller="resort" asp-action="detail" asp-route-id="@i.Resort.ID" class="text-primary">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</section>