@model Model.TravelInfo
@{
    ViewData["Title"] = "Details";
}
<section>
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
        <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1 mt-3">Details</h4>
            <a asp-action="Index" class="mb-2">
                <i class="fa-solid fa-arrow-left-long">
                </i> Return TravelInfo List
            </a>
        </div>
        <div class="d-flex justify-content-center gap-3">
            <a asp-action="edit" asp-route-id="@Model?.ID" class="btn btn-success" id="discard">Edit</a>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <button type="submit" id="delete-confirm-button" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="info-section">
                        <small class="d-block fw-normal text-uppercase mb-3">
                            Travel Information
                        </small>
                        <hr class="hr hr-blurry" />
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <span class="fw-bold me-2">Name</span>
                                <span>@Model.Name</span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-bold me-2">Price</span>
                                <span>@Model.Price</span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-bold me-2">TouristSpot</span>
                                <span>@Model.TouristSpot.Name</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="description-section">
                        <small class="d-block fw-normal text-uppercase mb-3">
                            TravelInfo Description
                        </small>
                        <hr class="hr hr-blurry" />
                        <div>
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-md-6">
        <div class="card mb-4">
        <div class="card-body">
        <div class="thumbnail-section">
        <small class="d-block fw-normal text-uppercase mb-3">
        Hotel Thumbnail
        </small>
        <hr class="hr hr-blurry" />
        <div class="d-flex align-items-center flex-column">
        <img class="img-fluid rounded my-3" src="@Model.Image" alt="@Model.Name">
        </div>
        </div>
        </div>
        </div>
        </div> *@
    </div>
</section>
@section Scripts {
    <script src="~/admin/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}