@model Model.Booking

@{
    ViewData["Title"] = "Create";
    var Package = ViewData["Package"];
    var Id = ViewData["Id"];
    var TotalPrice = Model.TotalPrice;
}
<section class="row mt-5 mb-5">
    <div class="col-md mb-3">
        @if (Package as string == "Hotel")
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center fw-bold mt-3">Room Information</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center align-content-center">
                        <img src="@ViewData["HotelImage"]" alt="@ViewData["HotelName"]" class="img-fluid" style="width: 50%" />
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <span class="fw-bold">@ViewData["HotelName"]</span>
                    </div>
                    <div class="card-text">
                        <span class="fw-bold">Location: </span>@ViewData["HotelLocation"]
                    </div>
                    <div class="card-text">
                        <span class="fw-bold">Price: </span>
                        VND @string.Format("{0,15:N0}", ViewData["HotelPrice"])
                    </div>
                </div>
            </div>
        }
        @if (Package as string == "Resort")
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center fw-bold mt-3">Resort Information</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center align-content-center">
                        <img src="@ViewData["ResortImage"]" alt="@ViewData["ResortName"]" class="img-fluid" style="width: 50%" />
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <span class="fw-bold">@ViewData["ResortName"]</span>
                    </div>
                    <div class="card-text">
                        <span class="fw-bold">Location: </span>@ViewData["ResortLocation"]
                    </div>
                    <div class="card-text">
                        <span class="fw-bold">Price: </span>
                        VND @string.Format("{0,15:N0}", ViewData["ResortPrice"])
                    </div>
                </div>
            </div>
        }
        @if (Package as string == "Restaurant")
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center fw-bold mt-3">Restaurant Information</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center align-content-center">
                        <img src="@ViewData["RestaurantImage"]" alt="@ViewData["RestaurantName"]" class="img-fluid" style="width: 50%" />
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <span class="fw-bold">@ViewData["RestaurantName"]</span>
                    </div>
                    <div class="card-text">
                        <span class="fw-bold">Location: </span>@ViewData["RestaurantLocation"]
                    </div>
                    <div class="card-text">
                        <span class="fw-bold">Price: </span>
                        VND @string.Format("{0,15:N0}", ViewData["RestaurantPrice"])
                    </div>
                </div>
            </div>
        }
        @if (Package as string == "TravelInfo")
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center fw-bold mt-3">Tour Information</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center align-content-center">
                        <img src="@ViewData["TravelImage"]" alt="@ViewData["TravelName"]" class="img-fluid" style="width: 50%" />
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <span class="fw-bold">@ViewData["TravelName"]</span>
                    </div>
                    <div class="card-text">
                        <span class="fw-bold">Location: </span>@ViewData["TravelLocation"]
                    </div>
                </div>
                <div class="card-footer">
                    <h5 class="card-title text-center fw-bold mt-3">About this package</h5>
                    <div class="card-text">
                        <span class="fw-bold">@ViewData["TravelDescription"]</span>
                    </div>
                    <div class="card-text">
                        <span class="fw-bold">Price: </span>
                        VND @string.Format("{0,15:N0}", ViewData["TravelPrice"])
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center fw-bold mt-3">Your Information</h5>
            </div>
            <div class="card-body">
                <form asp-action="CheckIn" class="needs-validation" novalidate>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" name="package" value="@Package" />
                    <input type="hidden" name="id" value="@Id" />
                    <div class="mb-3">
                        <label class="form-label fw-bold">Your Name</label>
                        <input asp-for="CustomerName" class="form-control" readonly />
                        <div class="invalid-feedback">
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Phone Number</label>
                        <input asp-for="CustomerPhone" class="form-control" readonly />
                        <div class="invalid-feedback">
                            <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">
                            Check-In
                            <span class="text-danger ms-1">*</span>
                        </label>
                        <input asp-for="CheckIn" class="form-control" required />
                        <div class="invalid-feedback">
                            <span asp-validation-for="CheckIn" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">
                            Check-Out
                            <span class="text-danger ms-1">*</span>
                        </label>
                        <input asp-for="CheckOut" class="form-control" required />
                        <div class="invalid-feedback">
                            <span asp-validation-for="CheckOut" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end align-items-center">
                        <div class="mb-3 fs-4">
                            <label class="fw-bold text-danger"> Total: </label>
                            <span id="totalPriceDisplay">
                                VND @string.Format("{0,15:N0}", TotalPrice)
                            </span>
                        </div>
                        <div class="mb-3 ms-5">
                            <button type="submit" class="btn btn-lg btn-primary">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @if (ViewData["CheckInError"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "@ViewData["CheckInError"]",
            });
        </script>
    }

    @if (TempData["BookingOK"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                icon: "success",
                title: "Thank for your order",
                html: ` Reservations are being processed.<br> 
                        You will be redirected in a few seconds. `,
                timer: 4500,
                timerProgressBar: true,
                showConfirmButton: false,
            }).then(() => {
                window.location.href = '@Url.Action("details", new { id = Model.ID })';
            });
        </script>
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkInInput = document.querySelector('[name="CheckIn"]');
            var checkOutInput = document.querySelector('[name="CheckOut"]');
            var totalPriceDisplay = document.getElementById('totalPriceDisplay');

            checkInInput.addEventListener('change', updateTotalPrice);
            checkOutInput.addEventListener('change', updateTotalPrice);

            function updateTotalPrice() {
                var checkInValue = new Date(checkInInput.value);
                var checkOutValue = new Date(checkOutInput.value);

                if (!isNaN(checkInValue.getDay()) && !isNaN(checkOutValue.getDay())) {
                    var numberOfDays = Math.ceil((checkOutValue - checkInValue) / (1000 * 60 * 60 * 24));

                    var unitPrice = parseFloat('@Model.TotalPrice');

                    var totalPrice = numberOfDays * unitPrice;

                    totalPriceDisplay.textContent = "VND " + formatNumber(totalPrice);
                }
            }

            function formatNumber(number) {
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        });
    </script>



}