@model Model.Booking

@{
    ViewData["Title"] = "Booking Details";
}

<section class="mt-5 mb-5">
    <div class="text-center mb-3">
        <h3 class=" fw-bold">Your booking details</h3>
        <a asp-action="Index">Return To Booking List</a>
    </div>
    <div class="card mb-3">
        <h4 class="text-center card-header mt-3 fw-bold"
            style="--mdb-card-header-border-width: 0px;">
            Room Information
        </h4>
        <div class="card-body">
            @if (Model.HotelID != null)
            {
                <div class="card shadow-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@Model.Hotel.Image"
                                 alt="@Model.Hotel.Name"
                                 class="img-fluid rounded-start" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-text fs-4">
                                    <span class="fw-bold"> Code: </span>
                                    @Model.ID
                                </div>
                                <div class="card-text my-3">
                                    <span class="fw-bold">Hotel: </span>
                                    @Model.Hotel.Name
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Location:</span>
                                        <span class="text-muted">
                                            @Model.Hotel.Location
                                        </span>
                                    </small>
                                </div>
                                <div class="card-text my-3 ratings">
                                    <span class="me-3 fw-bold">
                                        Ratings:
                                    </span>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <hr class="hr hr-blurry" />
                                <div class="card-text mt-3">
                                    <span class="fw-bold">Benefit:</span>
                                    <div class="ms-3">
                                        <small>
                                            24/7 Check-in,
                                            Complimentary Wi-Fi,
                                            Luggage Storage,
                                            Parking Available,
                                            Elevator Access,
                                            Cable/Satellite TV
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.ResortID != null)
            {
                <div class="card shadow-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@Model.Resort.Image"
                                 alt="@Model.Resort.Name"
                                 class="img-fluid rounded-start" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-text fs-4">
                                    <span class="fw-bold"> Code: </span>
                                    @Model.ID
                                </div>
                                <div class="card-text my-3">
                                    <span class="fw-bold">Resort: </span>
                                    @Model.Resort.Name
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Location:</span>
                                        <span class="text-muted">
                                            @Model.Resort.Location
                                        </span>
                                    </small>
                                </div>
                                <div class="card-text my-3 ratings">
                                    <span class="me-3 fw-bold">
                                        Ratings:
                                    </span>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <hr class="hr hr-blurry" />
                                <div class="card-text mt-3">
                                    <span class="fw-bold">Benefit:</span>
                                    <div class="ms-3">
                                        <small>
                                            24/7 Check-in,
                                            Complimentary Wi-Fi,
                                            Luggage Storage,
                                            Parking Available,
                                            Elevator Access,
                                            Cable/Satellite TV
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.RestaurantID != null)
            {
                <div class="card shadow-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@Model.Restaurant.Image"
                                 alt="@Model.Restaurant.Name"
                                 class="img-fluid rounded-start" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-text fs-4">
                                    <span class="fw-bold"> Code: </span>
                                    @Model.ID
                                </div>
                                <div class="card-text my-3">
                                    <span class="fw-bold">Restaurant: </span>
                                    @Model.Restaurant.Name
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Location:</span>
                                        <span class="text-muted">
                                            @Model.Restaurant.Location
                                        </span>
                                    </small>
                                </div>
                                <div class="card-text my-3 ratings">
                                    <span class="me-3 fw-bold">
                                        Ratings:
                                    </span>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star rating-color"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <hr class="hr hr-blurry" />
                                <div class="card-text mt-3">
                                    <span class="fw-bold">Benefit:</span>
                                    <div class="ms-3">
                                        <small>
                                            24/7 Check-in,
                                            Complimentary Wi-Fi,
                                            Luggage Storage,
                                            Parking Available,
                                            Elevator Access,
                                            Cable/Satellite TV
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="card mb-3">
                <h4 class="text-center card-header mt-3 fw-bold"
                    style="--mdb-card-header-border-width: 0px;">
                    Guest Information
                </h4>
                <div class="card-body">
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Name:</span>
                        @Model.CustomerName
                    </div>
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Phone:</span>
                        @Model.CustomerPhone
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-3">
                <h4 class="text-center card-header mt-3 fw-bold"
                    style="--mdb-card-header-border-width: 0px;">
                    Booking Information
                </h4>
                <div class="card-body">
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Check-In:</span>
                        @Model.CheckIn
                    </div>
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Check-Out:</span>
                        @Model.CheckOut
                    </div>
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Price:</span>
                        @Model.TotalPrice
                    </div>
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Status:</span>
                        @Model.Status
                    </div>
                    @if (Model.Status != BookingStatus.Cancelled && Model.Status != BookingStatus.Completed)
                    {
                        <div class="text-center">
                            <form asp-action="Cancelled">
                                <input type="hidden" asp-for="ID" />
                                <button type="submit" value="Cancelled" class="btn btn-danger">
                                    Cancelled
                                </button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>