@model Model.Booking

@{
    ViewData["Title"] = "Booking Details";
}

<section class="mt-5 mb-5">
    <div class="text-center mb-3">
        <h3 class=" fw-bold">Your booking details</h3>
        <a asp-action="Index">Return To Booking List</a>
    </div>
    <div class="card mb-3">
        @if (Model.TravelInfoID != null)
        {
            <h4 class="text-center card-header mt-3 fw-bold"
                style="--mdb-card-header-border-width: 0px;">
                Tour Information
            </h4>
        }
        else
        {
            <h4 class="text-center card-header mt-3 fw-bold"
                style="--mdb-card-header-border-width: 0px;">
                Room Information
            </h4>
        }
        <div class="card-body">
            @if (Model.TravelInfoID != null)
            {
                <div class="card shadow-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                                <img src="@Model.TravelInfo.TouristSpot.Image"
                                     alt="@Model.TravelInfo.TouristSpot.Name"
                                     class="img-fluid rounded-start" />
                            </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-text fs-4">
                                    <span class="fw-bold"> Booking Code: </span>
                                    @Model.ID
                                </div>
                                <div class="card-text my-3">
                                    <span class="fw-bold">Tour package: </span>
                                    @Model.TravelInfo.Name
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Price:</span>
                                        <span class="text-muted">
                                            VND @string.Format("{0,15:N0}", Model.TravelInfo.Price)
                                        </span>
                                    </small>
                                </div>
                                <hr class="hr hr-blurry" />
                                <div class="card-text mt-3">
                                    <span class="fw-bold">Benefit:</span>
                                    <div class="ms-3">
                                        <small>
                                            24/7 Check-in,
                                            Complimentary Wi-Fi,
                                            Luggage Storage,
                                            Tour Guides,
                                            Well-Planned Itinerary,
                                            Drivers Drive Safely,
                                            Parking Available
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.HotelID != null)
            {
                <div class="card shadow-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@Model.Hotel.Image"
                                 alt="@Model.Hotel.Name"
                                 class="img-fluid rounded-start" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-text fs-4">
                                    <span class="fw-bold"> Booking Code: </span>
                                    @Model.ID
                                </div>
                                <div class="card-text my-3">
                                    <span class="fw-bold">Hotel: </span>
                                    @Model.Hotel.Name
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Location:</span>
                                        <span class="text-muted">
                                            @Model.Hotel.Location
                                        </span>
                                    </small>
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Price:</span>
                                        <span class="text-muted">
                                            VND @string.Format("{0,15:N0}", Model.Hotel.Price)
                                        </span>
                                    </small>
                                </div>
                                <hr class="hr hr-blurry" />
                                <div class="card-text mt-3">
                                    <span class="fw-bold">Benefit:</span>
                                    <div class="ms-3">
                                        <small>
                                            24/7 Check-in,
                                            Complimentary Wi-Fi,
                                            Luggage Storage,
                                            Parking Available,
                                            Elevator Access,
                                            Cable/Satellite TV
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.ResortID != null)
            {
                <div class="card shadow-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@Model.Resort.Image"
                                 alt="@Model.Resort.Name"
                                 class="img-fluid rounded-start" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-text fs-4">
                                    <span class="fw-bold"> Booking Code: </span>
                                    @Model.ID
                                </div>
                                <div class="card-text my-3">
                                    <span class="fw-bold">Resort: </span>
                                    @Model.Resort.Name
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Location:</span>
                                        <span class="text-muted">
                                            @Model.Resort.Location
                                        </span>
                                    </small>
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Price:</span>
                                        <span class="text-muted">
                                            VND @string.Format("{0,15:N0}", Model.Resort.Price)
                                        </span>
                                    </small>
                                </div>
                                <hr class="hr hr-blurry" />
                                <div class="card-text mt-3">
                                    <span class="fw-bold">Benefit:</span>
                                    <div class="ms-3">
                                        <small>
                                            24/7 Check-in,
                                            Complimentary Wi-Fi,
                                            Luggage Storage,
                                            Parking Available,
                                            Elevator Access,
                                            Cable/Satellite TV
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.RestaurantID != null)
            {
                <div class="card shadow-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@Model.Restaurant.Image"
                                 alt="@Model.Restaurant.Name"
                                 class="img-fluid rounded-start" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-text fs-4">
                                    <span class="fw-bold"> Booking Code: </span>
                                    @Model.ID
                                </div>
                                <div class="card-text my-3">
                                    <span class="fw-bold">Restaurant: </span>
                                    @Model.Restaurant.Name
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Location:</span>
                                        <span class="text-muted">
                                            @Model.Restaurant.Location
                                        </span>
                                    </small>
                                </div>
                                <div class="card-text my-3">
                                    <small>
                                        <span class="fw-bold">Price:</span>
                                        <span class="text-muted">
                                            VND @string.Format("{0,15:N0}", Model.Restaurant.Price)
                                        </span>
                                    </small>
                                </div>
                                <hr class="hr hr-blurry" />
                                <div class="card-text mt-3">
                                    <span class="fw-bold">Benefit:</span>
                                    <div class="ms-3">
                                        <small>
                                            24/7 Check-in,
                                            Complimentary Wi-Fi,
                                            Luggage Storage,
                                            Parking Available,
                                            Elevator Access,
                                            Cable/Satellite TV
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="card mb-3">
                <h4 class="text-center card-header mt-3 fw-bold"
                    style="--mdb-card-header-border-width: 0px;">
                    Guest Information
                </h4>
                <div class="card-body">
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Name:</span>
                        @Model.CustomerName
                    </div>
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Phone:</span>
                        @Model.CustomerPhone
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-3">
                <h4 class="text-center card-header mt-3 fw-bold"
                    style="--mdb-card-header-border-width: 0px;">
                    Booking Information
                </h4>
                <div class="card-body">
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Check-In:</span>
                        @Model.CheckIn
                    </div>
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Check-Out:</span>
                        @Model.CheckOut
                    </div>
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Price:</span>
                        VND @string.Format("{0,15:N0}", Model.TotalPrice)
                    </div>
                    <div class="card-text my-3 ms-5">
                        <span class="fw-bold">Status:</span>
                        @Model.Status
                    </div>
                    @if (Model.Status != BookingStatus.Cancelled && Model.Status != BookingStatus.Completed)
                    {
                        <div class="text-center">
                            <form asp-action="Cancelled">
                                <input type="hidden" asp-for="ID" />
                                <button type="submit" value="Cancelled" class="btn btn-danger">
                                    Cancelled
                                </button>
                            </form>
                        </div>
                    }
                    @if (Model.Status == BookingStatus.Completed)
                    {
                        @if (Model.Rating != null && Model.Rating.CustomerPhone == Model.CustomerPhone)
                        {
                            <div class="card-text  my-3 ms-5 ratings">
                                <span class="me-3 fw-bold">
                                    Your Rating:
                                </span>
                                <span id="ratingContainer"></span>
                            </div>
                            @if (Model.Rating.Comment != null)
                            {
                                <div class="card-text  my-3 ms-5 ratings">
                                    <span class="fw-bold">Your Comment:</span>
                                    @Model.Rating.Comment
                                </div>
                            }
                        }
                        else
                        {
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#Rating">
                                    Rating
                                </button>
                            </div>
                            <div class="modal fade" id="Rating" tabindex="-1" aria-labelledby="RatingLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form asp-action="Rate" method="post">
                                            <div class="modal-body">
                                                <div class="rating-box">
                                                    <header>How was your experience?</header>
                                                    <div class="stars d-flex justify-content-between">
                                                        <i class="fa-solid fa-star" data-value="1"></i>
                                                        <i class="fa-solid fa-star" data-value="2"></i>
                                                        <i class="fa-solid fa-star" data-value="3"></i>
                                                        <i class="fa-solid fa-star" data-value="4"></i>
                                                        <i class="fa-solid fa-star" data-value="5"></i>
                                                    </div>
                                                </div>
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <input type="hidden" asp-for="CustomerName" />
                                                <input type="hidden" asp-for="CustomerPhone" />
                                                <input type="hidden" asp-for="Rating!.CreatedAt" value="@DateTime.Now" />
                                                <input type="hidden" asp-for="Rating!.BookingID" value="@Model.ID" />
                                                <input type="hidden" asp-for="Rating!.Value" class="form-control" />
                                                <div class="form-group">
                                                    <label asp-for="Rating!.Comment" class="control-label"></label>
                                                    <input asp-for="Rating!.Comment" class="form-control" />
                                                    <span asp-validation-for="Rating!.Comment" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" data-mdb-ripple-init>Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        const stars = document.querySelectorAll(".stars i");
        const ratingInput = document.getElementById("Rating_Value");

        stars.forEach((star, index1) => {
            star.addEventListener("click", () => {
                stars.forEach((star, index2) => {
                    index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
                });

                const selectedValue = index1 + 1;
                ratingInput.value = selectedValue;
            });
        });

        stars[4].click();
    </script>
    @if (Model.Rating != null && Model.Rating.Value != null)
    {
        <script>
            var ratingValue = @Model.Rating!.Value;
            document.getElementById("ratingContainer").innerHTML = "";

            for (var i = 0; i < 5; i++) {
                var starIcon = document.createElement("i");

                if (i < ratingValue) {
                    starIcon.className = "fa fa-star rating-color";
                } else {
                    starIcon.className = "fa fa-star";
                }

                document.getElementById("ratingContainer").appendChild(starIcon);
            }
        </script>
    }
}