@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Restaurant";
}

<section id="wrapper">
    <div class="card mt-3 mb-4 p-5">
        <form asp-action="index" asp-controller="restaurant">
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label class="form-label fw-bold">Location - Name:</label>
                    <input name="search" type="search" class="form-control" placeholder="Enter a location or name">
                </div>
                @*Rating*@
                <div class="col-md-2 mb-3">
                    <label class="form-label fw-bold">Rating:</label>
                    <select name="rating" class="form-select">
                        <option value="">Any</option>
                        <option value="1">&#9733;</option>
                        <option value="2">&#9733;&#9733;</option>
                        <option value="3">&#9733;&#9733;&#9733;</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                    </select>
                </div>
                @*Sort Price*@
                <div class="col-md-2 mb-3">
                    <label class="form-label fw-bold">Sort By Price:</label>
                    <select name="sortByPrice" class="form-select">
                        <option value="">None</option>
                        <option value="asc">&#x2191; Low to High</option>
                        <option value="desc">&#x2193; High to Low</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">
                        Search
                        <i class="fas fa-long-arrow-alt-right ms-2"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="mt-5 mb-5">
    <h3 class="text-center fw-bold">
        Featured properties recommended for you
    </h3>
    <div class="row mt-5 me-3 ms-3">
        @foreach (var i in Model)
        {
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <img src="@i.Restaurant.Image" class="card-img-top" alt="@i.Restaurant.Name" />
                    <div class="card-body">
                        <h6 class="card-title fw-bold">@i.Restaurant.Name</h6>
                        <p class="text-muted">
                            @(i.Restaurant.Location.Length > 20 ?
                             i.Restaurant.Location.Substring(0, 20) + " ..." : i.Restaurant.Location)
                        </p>
                        <div class="d-flex justify-content-start align-items-center mb-2">
                            @{
                                int ratingValue = i.NumRatings > 0 ? i.TotalRatingValue / i.NumRatings : 0;
                            }
                            <div class="ratings">
                                @for (var j = 0; j < 5; j++)
                                {
                                    <i class="fa fa-star @(j < ratingValue ? "rating-color" : "")"></i>
                                }
                            </div>
                            <h5 class="review-count">@i.NumRatings Reviews</h5>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-start align-items-center">
                                <p class="card-text fw-bold text-danger">
                                    VND @string.Format("{0,15:N0}", i.Restaurant.Price)
                                </p>
                            </div>
                            <div class="d-flex justify-content-start align-items-center">
                                <a asp-controller="restaurant" asp-action="detail" asp-route-id="@i.Restaurant.ID" class="text-primary">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</section>