@model dynamic
@{
    ViewData["Title"] = "Detail";
    int ratingValue = Model.NumRatings > 0 ? Model.TotalRatingValue / Model.NumRatings : 0;
}

<section class="mt-4">
    <div class="row">
        <div class="col-md-9 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="card-text fs-3 fw-bold">
                                @Model.Travel.Name
                            </p>
                            <p class="fs-6">
                                @* <span class="fw-bold">Location:</span> @Model.TouristSpot.Location *@
                            </p>
                            <p class="fs-6">
                                <span class="fw-bold">Price: </span>
                                VND @string.Format("{0,15:N0}", Model.Travel.Price)
                            </p>
                            <div class="ratings">
                                <span class="me-3 fw-bold">
                                    Ratings:
                                </span>
                                @for (var j = 0; j < 5; j++)
                                {
                                    <i class="fa fa-star @(j < ratingValue ? "rating-color" : "")"></i>
                                }
                                <span class="ms-2 text-muted">
                                    <small>
                                        <a href="#Reviews" class="text-primary"
                                           data-mdb-modal-init data-mdb-target="#Reviews">
                                            @Model.NumRatings Reviews
                                        </a>
                                    </small>
                                </span>
                            </div>
                            <p class="card-text fs-6 mt-3">
                                Our professional and friendly staff is always willing to support 24/7. With a convenient location, we are close to tourist attractions and the city center, promising to bring you memorable memories on every trip. Book your room today to experience the best comfort and service at our hotel!
                            </p>

                        </div>
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            @* <img class="rounded-circle m-3" style="width: 300px; height: 300px; object-fit: cover;" src="@Model.Hotel.Image" alt="@Model.Travel.Name"> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text fs-5 fw-bold">
                        Amenities and Facilities
                    </p>
                    <ul class="list-group no-style">
                        <li class="list-group-item border-0">
                            <i class="fa-regular fa-circle-check icon-mr"></i>
                            <span>24/7 Check-in</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-wifi icon-mr"></i>
                            <span>Complimentary Wi-Fi</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-suitcase-rolling icon-mr"></i>
                            <span>Luggage Storage</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-broom icon-mr"></i>
                            <span>Daily Room Cleaning</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-car-side icon-mr"></i>
                            <span>Parking Available</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-person-arrow-up-from-line icon-mr"></i>
                            <span>Elevator Access</span>
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fa-solid fa-tv icon-mr"></i>
                            <span>Cable/Satellite TV</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                @Html.Raw(Model.Travel.Description)
            </p>
        </div>
    </div>
</section>

<div class="modal fade" id="Reviews" tabindex="-1" aria-labelledby="ReviewsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="list-group list-group-light">
                    @foreach (var i in Model.Review)
                    {
                        <li class="list-group-item">
                            <div class=" d-flex justify-content-between align-items-center">
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@i.CustomerName</p>
                                    <span class="ratings">
                                        @for (var j = 0; j < 5; j++)
                                        {
                                            <i class="fa fa-star @(j < i.Value ? "rating-color" : "")"></i>
                                        }
                                    </span>
                                </div>
                            </div>
                            @if (i.Comment != null)
                            {
                                <div class="ms-3">
                                    @i.Comment
                                </div>
                            }
                        </li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<a asp-action="checkin" asp-controller="booking" asp-route-id="@Model.Travel.ID" asp-route-package="Travel" class="btn btn-danger btn-floating btn-lg" id="btn-add-to-cart">
    <i class="fa-solid fa-cart-shopping"></i>
</a>
